nav
    li 
        @apply relative px-5
        a, span
            @apply text-primary-400 text-base cursor-pointer
    li:hover 
        a, span
            @apply text-primary-500
            &::after
                content: ''
                height: 3px
                width: calc( 100% - 40px )
                display: block
                background: #004f80
                margin-top: 10px
                position: absolute
            &.button
                @apply text-secondary-100
                &::after
                    content: none
            &.no-detail
                &::after
                    content: none
    li.contact:last-child
        a
            &::after
                content: none
    .nav__right
        @apply -right-full fixed top-0 max-w-md w-10/12 transition-all duration-500 ease-in-out h-screen bg-secondary-100 py-16 px-6
        &.active
            @apply right-0
        ul
            li, li a
                @apply w-full
                @screen lg
                    @apply w-auto
            li
                @apply py-3
        @screen lg
            @apply relative flex justify-end right-0 w-auto max-w-full h-auto bg-transparent py-0 px-0