nav
    li 
        @apply relative px-5
        a
            @apply text-primary-200 text-base 
    li:hover 
        a
            @apply text-primary-100
            &::after
                content: ''
                height: 3px
                width: calc( 100% - 40px )
                display: block
                background: #2d2e82
                margin-top: 10px
                position: absolute
    li.contact:last-child
        a
            &::after
                content: none